<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{user.name}}</h1>
    <a href="{{user.link}}">Ссылка</a>
    <div>
        <img style="width: 100vh;" src="/cab6ba3f95984c6b6c7794c7732e183d.jpg" alt="fgddfgdfg">
    </div>
 
    <p>{{user.description}}</p>
    <p>{{user.description}}</p>
    <p>{{user.description}}</p>
    <p>{{user.description}}</p>
    
    

</body>

</html>